h1 {
  text-align: center;
}

.kyrix-panel {
  margin: auto;
  /* top:40%; */
  font-size: 12px;
  /* background-color: #cbee9f; */
}

#map {
    position: relative;
    display: block;
    margin: auto;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 120px;                  
  height: 60px;                 
  padding: 10px;
  font: 12px sans-serif bold;        
  background: white;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}

input[type="radio"]{
  margin: 0 20px 0 20px;
}

.control-panel {
  display: grid;
  grid-template-columns: 1.5fr 1.2fr 0.8fr 0.5fr;
  grid-gap: 2%;
  padding-left: 5%;
  padding-top: 2%;
  padding-right: 5%;
}
